 body {
    background-image: url(pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: lighten;
}
/*@keyframes blink {
    0%{
        background: rebeccapurple;
    }
    30%{
        background: rgb(255, 0, 0);
    }
    50%{
        background: rgb(0, 4, 255);
    }
    70%{
        background: rgb(0, 223, 30);
    }
    100%{
        background: rgb(255, 208, 0);
    }
}     /* create diffeent steps for animations*/
/*div {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}
*/ 
/*body {
    background: rgb(63,251,89);
    background: radial-gradient(circle, rgba(63,251,89,1) 24%, rgba(63,94,251,1) 67%, rgba(63,94,251,1) 78%, rgba(252,70,107,1) 92%);  
} */
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 15px 50px;
}
.logo {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    color: rgb(248, 171, 4);
    padding-top: 5px;
}
.hamburger {
    padding-top: 10px;
    padding-left: 10px;
    display: none;
}
.nav-bar ul {
    display: flex
}
.nav-bar ul li a {
    display: block;
    color: rgb(248, 171, 4);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: black;
    background: aliceblue;
}
@media only screen and (max-width: 1320px){
    header {
        padding: 10px 50px;
    }
}
@media only screen and (max-width: 1100px){
    header {
        padding: 15px 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        height: 3px;
        width: 30px;
        background: rgb(248, 171, 4);
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 400px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center; 
        transition: 0.5s;   
        opacity: 0;    
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul a {
        margin-bottom: 12px;
        color: red;
    }
}

