/* body {
    background-image: url(pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: lighten;
}*/
body {
	background:  rgb(248, 171, 4);
    overflow-y: hidden;
}
#container {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 200px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: #F3F3F3;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 75px;
  width: 80px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #F3F3F3;
  margin-bottom: 95px;
  margin-left: 250px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 30px;
  width: 300px;  
  border-radius: 0 0 100px 100px;
  background-color: #F9F9F9;
  margin-top: -32px;
  margin-left: 5px;
  z-index: 2;
}

#shadow {
  height: 10px;
  width: 300px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: 6px;
  background-color:  rgb(48, 33, 0)d4;
}
/*@keyframes blink {
    0%{
        background: rebeccapurple;
    }
    30%{
        background: rgb(255, 0, 0);
    }
    50%{
        background: rgb(0, 4, 255);
    }
    70%{
        background: rgb(0, 223, 30);
    }
    100%{
        background: rgb(255, 208, 0);
    }
}     /* create diffeent steps for animations*/
/*div {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;
}
*/ 
/*body {
    background: rgb(63,251,89);
    background: radial-gradient(circle, rgba(63,251,89,1) 24%, rgba(63,94,251,1) 67%, rgba(63,94,251,1) 78%, rgba(252,70,107,1) 92%);  
} */
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 15px 50px;
}
.logo {
    display: flex;
    font-size: 28px;
    font-weight: bold;
    color: rgb(248, 171, 4);
    padding-top: 5px;
}
.hamburger {
    padding-top: 10px;
    padding-left: 10px;
    display: none;
}
.nav-bar ul {
    display: flex
}
.nav-bar ul li a {
    display: block;
    color: rgb(248, 171, 4);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    color: black;
    background: aliceblue;
}
@media only screen and (max-width: 1320px){
    header {
        padding: 10px 50px;
    }
}
@media only screen and (max-width: 1100px){
    header {
        padding: 15px 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        height: 3px;
        width: 30px;
        background: rgb(248, 171, 4);
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 272px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 0px auto 0 auto;
        text-align: center; 
        transition: 0.5s;   
        opacity: 0;    
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul a {
        margin-bottom: 12px;
        color: red;
    }
}
.para {
    margin: 40px;
    padding: 50px;
    background-color: rgba(240, 248, 255, 0.384);
    font-size: 1.5em;
    border-radius: 20px;
}
